@spacer: 10px;

.banner { }

// Content wrapper
.wrap { }

// Main content area
.main { }



.home .main {

	display: flex;

	.colonne {

		flex:1;
		position: relative;
		min-height: 100vh;
		transition: all .2s ease-out;

		&:hover {
			flex:1.2;
			transition: all .2s ease-out;
		}

		.langue {
			.h3;
			font-weight: bold;
			text-transform: uppercase;
		}

		.apercu {
			min-height: 55px;
			position: absolute;
			padding-bottom: 1rem;
			transition: padding .2s ease-out, margin .2s ease-out;

			&:hover {
				background-color: #fff;
				z-index: 100;
			}

			.chapitre-title {
				.h4;
			}
		}

		@iterations: 10;
		.chapitre-loop (@i) when (@i > 0) {
		    .chapitre@{i} {
		        top: percentage(( @i*10 + 2 )/100);
		    }

			.chapitre-loop(@i - 1);
		}
		.chapitre-loop(@iterations);

	}

	.entry-title {
		.h5;
	}





}

.page-template-template-article-langue-head-php .main {

	width: 70%;
	max-width: 1024px;
	margin: auto;

	.chapter {

		position: relative;
		margin-bottom: @spacer*8;


		.lang-list {
			list-style: none;
			text-transform: uppercase;
			padding:0;
			margin: 0;

			a {
				cursor: pointer;
			}

			.exists {
				font-weight: bold;
			}

			.active li {
				background-color: #333;
				color: #fff;
			}

			li {
				display: inline-block;
				padding: 0;
				margin-right: @spacer;
			}
		}

		.article_container {
			position: relative;
		}

		article {
			height:auto;
			position: absolute;
			top:0;
			width: 100%;
			opacity: 0;
			transition: opacity 1s ease-out;

			&.active {
				opacity: 1;
				z-index: 1;
			}

		}

	}
}




.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }


.sidebar { }

.content-info { }
