

.banner { }

// Content wrapper
.wrap { }

// Main content area
.main { }


.home .main {

	display: flex;

	.colonne {

		.langue {
			.h3;
			font-weight: bold;
			text-transform: uppercase;

		}

		flex:1;
	}

	.entry-title {
		.h5;
	}





}




.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }


.sidebar { }

.content-info { }
